* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

nav {
  background-color: white;
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

nav ul li a:hover {
  color: #ff0095;
  transition: ease-in 0.5s;
}

.Section-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Otter {
  background-color: #ff0095;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 10px;
  display: flex;
  z-index: 10;
  position: absolute;
  margin-top: -12%;
}

.Otter h1 {
  font-size: 2rem;
  font-weight: bold;
}

.Otter-para {
  background-color: white;
  padding: 4rem 2rem 2rem 2rem;
  border-radius: 10px;
  display: flex;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
}

.Otter-para p {
  max-width: 300px;
}

@media (max-width: 1024px) {
  .Otter {
    margin-top: -20%;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .Otter {
    margin-top: -20%;
  }
}

@media (max-width: 480px) {
  .Otter {
    margin-top: -50%;
    margin-left: 0%;
  }

  .Otter h1 {
    font-size: 1.5rem;
  }

  .Otter-para {
    margin-left: 0%;
  }

  .circle {
    margin-top: 5%;
  }
}
